*.pyc

src/utils/kaldi_io.py

tools/kaldi-io-for-python/
tools/kaldi

egs/*/data
egs/*/dump*
egs/*/fbank
egs/*/exp
egs/*/dataset

egs/*/decode_pcg
events.out.tfevents.*
egs/*/results

# MISC
.DS_Store
.nfs*
.vscode
__pycache__
nohup.out
